<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    
        <title>Product</title>
    </head>
    <style>
        * {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}
    </style>
    <body>
        <header class="header" id="header" style="height: 100px !important;">
            <nav class="nav">
                <div class="nav__center container">
                    <div class="logo">
                        <h1>Movie Rental Store</h1>
                    </div>
    
                    <div class="nav__menu" style="margin-top: 1.5% !important;">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="/homepage" class="nav__link scroll-link">Home</a>
                            </li>
    
                            <li class="nav__item">
                                <a href="myrentals.html" class="nav__link scroll-link">My Rentals</a>
                            </li>
    
                            <li class="nav__item">
                                <a href="/alldisplay" class="nav__link scroll-link">Explore</a>
                            </li>
    
                            <li class="nav__item">
                                <a href="/customer/login" class="nav__link scroll-link">Login/Signup</a>
                            </li>
                            <li class="nav__item">
                                <a href="/customer/logout" class="nav__link scroll-link">Logout</a>
                            </li>

                        </ul>
    
                        
                    </div>
                </div>
            </nav>
    
           
        </header>
        <div class="title">
            <center><h1><%=movies.title%></h1> </center>    
        </div>

         
             <div class="prodmain">
                 <div class="pcontainer">
                    
                    <div class="cover">
                        <img src="/uploads/<%=movies.pic%>">
                     </div>
                     <div class="content">
                         
                         <div class="pcontent-body">
                             <div class="pages">
                                 
                             </div>
                             <div class="blabel">
                                 
                                 <!-- description -->
                                     <p>
                                         <%=movies.description%>
                                     </p><br><br>
                                     <!-- description ends-->
                                     <div class="prix">
                                        Check Rating:<span style="width:25% !important;margin-top:-1rem !important;margin-right:70px!important;"><a href="<%=movies.imdb%>"> <img src="/assets/imgs/imdb.png"></a></span>
                                     </div>
                                         <div class="prix">
                                            <div>Rental Cost:</div> 
                                            <div style="margin-top:-1rem !important; font-size: 2.8rem !important;font-weight: 400;">Rs. <%=movies.price%> / Day</div>
                                            
                                            
                                        </div>
                                        
                                        <div style="margin-left: -38rem !important;">
                                            <div class="section category">
                                                <div style="margin-left:40%">
                                                    <a href="/checkout/<%=movies.tape_id%>" class="button category__btn">Rent Now</a>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                        </div>
                                        
                            
                         </div>
                         
                     </div>
                     
                 </div>
                </div>

                
                    <section class="section " id="new">
                        <div class="new__center container">
                            <div class="title">
                                <h1>Buyer's Also Checked</h1>
                            </div>
            
                            <div class="product__center">
                                <% top.forEach((movie)=>{%>
                                    <div class="product">
                                        <a href="/info/<%=movie.tape_id%>"> 
                                        <div class="product__header">
                                            <img src="/uploads/<%=movie.pic%>" alt="">
                        
                                        </div>
                                        
                                            <div class="product__footer">
                                                <h2><%=movie.title%></h2>
                        
                                                <h4 class="price">Rs <%=movie.price%> / per day</h4>
                                            </div>
                        
                                        </a>
                                        
                                    </div>
                                    <%})%>
                                
                            </div>
                        </div>
                    </section>
                 
            </body>
        </html>
 