<%- include("../partials/header") %>

        <div class="pureent hamdash1 fillin-val">
            <div class="header-small">

                <div class="items">
                    <h1 class="subhead">
                        Stores
                        <span><a style="margin-left: 93%;" class="btn button-small button-secondary" href="/stores/add">Add store</a> </span>
                         </div>
                         
                    </div>
                    </h1>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Store ID</th>
                            <th>Store Name</th>
                            <th>Phone number</th>
                            <th>Address</th>
                            <th>Distributor Name</th>
                            <th>Action</th>
                           
                        </tr>
                        </thead>

                        <tbody>
                            <% stores.forEach((store)=>{%>
                                <tr>
                                    <td><%=store.store_id%></td>
                                    <td><%=store.sname%></td>
                                    <td><%=store.ph%></td>
                                    <td><%=store.address%></td>
                                    <td><%=store.dname%></td>
                                    
                                    
                                    
                                    <td><a class="btn button-success" href="/stores/update/<%=store.store_id%>">Update</a></td>
                                    
                                
                                </tr>
                                
                                <%})%>
                        
                        </tbody>
                    </table>
                </div>

                

            </div>
        </div>
    </div>
</body>
</html>