
<%- include("../partials/header") %>
<div class="pureent hamdash1 fillin-val">
            <div class="header-small">

                <div class="items">
                    <h1 class="subhead">Edit Payment</h1>
                    

                    <form action="/pays/update/<%=pay.rental_id%>?_method=PUT" method="post" novalidate autocomplete="off" class="form form-stacked">
                        <fieldset>
                            
                            <br>
                            

                            
                            
                            <label for="Cost">Final Cost</label>
                            <input id="Cost" type="number" value="<%=pay.final_cost%>" class="pure-input-1" name="cost">
                            <br>

                            

                            <label for="paytype">Payment mode:</label>
            
                            <select class="pure-input-1" name="type" id="paytype">
                            <option type="text" value="<%=pay.type%>" ><%=pay.type%></option>
                            <option type="text" value="CASH">CASH</option>
                            <option type="text" value="CARD">CARD</option>
                            <option type="text" value="CHEQUE">CHEQUE</option>
                            </select>
                            <br>
                            

                            <label for="paystatus">Status:</label>
            
                            <select class="pure-input-1" name="status" id="paystatus">
                            <option type="text" value="<%=pay.status%>"><%=pay.status%></option>
                            <option type="text" value="PENDING">PENDING</option>
                            <option type="text" value="COMPLETED">COMPLETED</option>
                            </select>
                            <br>

                            
                            

                            <label for="Detail">Card or Cheque No.</label>
                            <input id="Detail" type="number" value="<%=pay.detail%>" class="pure-input-1" name="detail">
                            <br>
                            
                            <br><br>
                            <input type="hidden" name="id" value="1">
                            <button type="submit" class="btn button-success">Submit</button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>