<%- include("../partials/header") %>
<div class="pureent hamdash1 fillin-val">
            <div class="header-small">

                <div class="items">
                    <h1 class="subhead">Update Rental no.<%=rent.rental_id%></h1>
                    

                    <form action="/rents/update/<%=rent.rental_id%>?_method=PUT" method="POST" novalidate autocomplete="off" class="form form-stacked">
                        <fieldset>
                            <br>
                            <label for="Customer ID">Customer ID</label>
                            <input id="CustomerID" type="text" value="<%=rent.cus_id%>" class="pure-input-1" name="cusid">
                            <br>
                            
                            <label for="TapeID">Tape ID</label>
                            <input id="TapeID" type="text" value="<%=rent.tape_id%>" class="pure-input-1" name="tpid">
                            <br>

                            <label for="Sin">SIN</label>
                            <input id="Sin" type="text" value="<%=rent.sin%>" class="pure-input-1" name="sin">
                            <br>

                            <label for="Storeid">Store ID</label>
                            <input id="Storeid" type="text" value="<%=rent.store_id%>" class="pure-input-1" name="stid">
                            <br>
                            
                            <br><br>
                            <input type="hidden" name="id" value="1">
                            <button type="submit" class="btn button-success">Submit</button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</body>
</html>