<%- include("../partials/header") %>
<div class="pureent hamdash1 fillin-val">
    <div class="header-small">

        <div class="items">
            <h1 class="subhead">Updating <%=customer.cname%> Details </h1>
            

            <form action="/customer/update/<%=customer.cus_id%>?_method=PUT" method="post" novalidate autocomplete="off" class="form form-stacked">
                <fieldset>
                    <br>
                    
                    <label for="customerName">Customer Name </label>
                    <input id="customerName" type="text" name="cusname"  class="pure-input-1" value="<%=customer.cname%>" >
                    <br>
                    <label for="cusstr">Store Number</label>
                    <input id="cusstr" type="number" name="stid"  class="pure-input-1" value="<%=customer.store_id%>">
                    <br>
                    <label for="cusphno">Phone Number</label>
                    <input id="cusphno" type="number" name="ph"  class="pure-input-1" value="<%=customer.ph%>">
                    <br>
                    <label for="cusaddress">Customer Address</label>
                    <input id="cusaddress" type="text" name="address"  class="pure-input-1" value="<%=customer.address%>">
                    <br>
                    <label for="cusemail">Customer email</label>
                    <input id="cusemail" type="email" name="email" class="pure-input-1" value="<%=customer.email%>">
                    <br>
                    
                    
                    <br><br>
                    <input type="hidden" name="id" value="1">
                    <button type="submit" class="btn button-success">Submit</button>
                </fieldset>
            </form>
        </div>

    </div>
</div>
</div>
</body>
</html>