<%- include("../partials/header") %>
<div class="pureent hamdash1 fillin-val">
    <div class="header-small">

        <div class="items">
            <h1 class="subhead">Update Distributor <%=distributor.dname%> Details</h1>
            

            <form action="/distributor/update/<%=distributor.dname%>?_method=PUT" method="post" novalidate autocomplete="off" class="form form-stacked">
                <fieldset>
                    <br>
                    
                    
                    
                    
                    <label for="empphno">Phone Number</label>
                    <input id="empphno" type="number" name="ph"  class="pure-input-1" value="<%=distributor.phone%>">
                    <br>
                    <label for="empaddress">Distributor Address</label>
                    <input id="empaddress" type="text" name="address"  class="pure-input-1" value="<%=distributor.address%>">
                    <br>
                    
                    
                    <br><br>
                    <input type="hidden" name="id" value="1">
                    <button type="submit" class="btn button-success">Submit</button>
                </fieldset>
            </form>
        </div>

    </div>
</div>
</div>
</body>
</html>